.page-wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

body>header {
  text-align: left;
  background-color: #333;
  color: #eee;
  padding: 10px 5px
}

header+nav {
  margin-bottom: 2em;
}

.nav-primary {
  margin-top: 2em;
}

aside.favorite {
  float: right;
}

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
