.page-wrapper {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

header {
  margin-top: 1em;
}

nav {
  margin-top: 2em;
}

nav .nav-button {
  display: block;
  padding: 20px;
  text-transform: uppercase;
}
