.pictos:before, button.pictos {
  font-family: 'Pictos Custom';
  font-size: 3em;
  white-space: pre;
  font-weight: normal;
}

.centered-content {
  margin: 0 auto;
  max-width: 90%;
}

button.favorite-button {
  -webkit-appearance: none;
  background-color: inherit;
  border: none;
}

.favorite-button {
  -webkit-text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: rgb(238,238,238); /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(40%,rgba(223,229,215,1)), color-stop(100%,rgba(179,190,173,1))); /* Chrome,Safari4+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #999;
  &:active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(179,190,173,1)), color-stop(60%,rgba(223,229,215,1)), color-stop(100%,rgba(252,255,244,1))); /* Chrome,Safari4+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #999;
  }
}

.favorite-button.saved-favorite {
  background: yellow;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #999;
}

.primary-navigation {
  background-color: #ccc;
  ul {
    width: 100%;
  }
  .navigation-item {
    display: inline-block;
    width: 24%;
    &:hover {
      background-color: #AF4C5E;
      color: #eee;
    }
  }
  @media only screen and (max-width: 320px) {
    .navigation-item {
      display: inline-block;
      width: auto;
      padding: 0 5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .navigation-button {
    width: 100%;
    font-family: verdana, sans-serif;
    font-weight: bold;
    font-size: .75em;
    display: inline-block;
    padding: 25px 0;
    text-transform: uppercase;
    text-align: center;
    &:hover {
      color: #eee;
    }
  }
}

.navigation-item.is-active {
  background-color: #AF4C5E;
  color: #eee;
  .navigation-button {
    color: #eee;
  }
}

.two-column-list-item {
  display: inline-block;
  width: 45%;
  margin-bottom: 2em;
  text-align: center;
}

.track-item .track-navigation-item {
  display: inline-block;
  height: 64px;
  width: 100%;
}

.nav-item strong {
  font-size: .8em;
}

[data-icon]:before {
  content: attr(data-icon) '\A';
}

.article-with-image {
  text-align: left;
  padding-bottom: 1em;
  margin-bottom: 1em;
  color: #333;
  border-bottom: solid 1px white;
  -moz-box-shadow: 0 1px 1px -1px #333;
  -webkit-box-shadow: 0 1px 1px -1px #333;
  box-shadow: 0 1px 1px -1px #333;
  &:last-child {
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  header {
    margin-bottom: .5em;
  }
  p {
    font-size: 1.25em;
    line-height: 1.25em;
  }
  .title {
    margin-bottom: .5em;
  }
  [data-icon]:before {
    content: attr(data-icon);
    font-size: 1.75em;
    margin-right: 5px;
    vertical-align: middle;
  }
  [data-icon]:after {
    content: attr(data-icon-caption);
    vertical-align: baseline;
  }
  small {
    display: block;
    font-size: .65em;
    color: #333;
    font-family: verdana, sans-serif;
    margin-bottom: 5px;
    em {
      font-size: 1.25em;
      font-weight: bold;
    }
  }
  .item-image {
    float: left;
    margin-right: 1em;
  }
  .section-title {
    margin-bottom: .5em;
  }
  .article-body+.section-title, .article-body+.article-body {
    margin-top: 1.5em;
  }
}

.list-heading {
  margin-bottom: 1em;
}

aside.favorite {
  position: absolute;
  top: 126px;
  left: 75%;
}
@media only screen and (max-width: 320px) {
  aside.favorite {
    position: absolute;
    top: 126px;
    left: 57%;
  }
}

.home-content {
  strong {
    display: block;
    font-family: verdana, sans-serif;
    font-size: 1em;
    text-transform: lowercase;
    font-weight: bold;
    margin-bottom: .5em;
  }
  p {
    line-height: 1.25em;
    margin-bottom: .75em;
    margin-left: 2em;
    font-style: italic;
    small {
      font-size: 1.03em;
    }
    a {
      display: inline-block;
      font-size: 1.5em;
      font-style: normal;
      padding: 5px;
      margin-left: -5px;
    }
  }
  position: relative;
  text-align: left;
  padding-left: 2em;
  top: -60px;
}

.stir-trek-logo {
  width: 90%;
  max-width: 520px;
}

.blank-slate {
  color: #666;
  line-height: 1.25em;
  strong {
    color: #333;
  }
  padding-right: 1em;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, .65);
  text-align: center;
  h3 {
    font-color: #eee;
    font-size: 2em;
    background-color: transparent;
    margin-top: 25px;
    margin-bottom: 25px;
    text-transform: none;
  }
}

@mixin portalBackground($col, $row) {
  $portalGutter: 16px;
  $portalGutterVert: 9px;
  $portalBlock: 84px;
  $portalStartX: -11px;
  $portalStartY: -9px;
  background: {
    position: $portalStartX+(-1*$col*$portalBlock)+(-1*$col*$portalGutter) $portalStartY+(-1*$row*$portalBlock)+(-1*$row*$portalGutterVert);
  }
}


.portal-wait {
  margin: 0 auto;
  background: {
    image: url(/images/portal_symbols.gif);
    repeat: no-repeat;
  }
  width: 84px;
  height: 85px;
  text-align: center;
  @include portalBackground(0,0);
  -webkit-animation: {
    name: portal-transition;
    timing-function: ease;
    duration: 8s;
    fill-mode: forwards;
    delay: 3s;
  }
}

@-webkit-keyframes portal-transition {
  0% { @include portalBackground(0, 0); }
  10% { @include portalBackground(1, 0); }
  20% { @include portalBackground(2, 0); }
  30% { @include portalBackground(3, 0); }
  40% { @include portalBackground(4, 0); }
  50% { @include portalBackground(0, 1); }
  60% { @include portalBackground(1, 1); }
  70% { @include portalBackground(2, 1); }
  80% { @include portalBackground(3, 1); }
  90% { @include portalBackground(4, 1); }
  100% { @include portalBackground(4, 1); }
}
